<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tip_calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91D345AD1CEC311E00AC64F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D345C11CEC311E00AC64F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D345CC1CEC311E00AC64F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
